/* styles.css */

/* Estilos para InitialMenuUI */


/* Estilos para MainMenuUI */
.MainMenuUI {
    -fx-background-image: url('/pt/isec/pa/javalife/ui/gui/resources/images/bg.jpeg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.8), 80, 0.0, 0, 0);
}

.MainMenuUI .button {
    -fx-font-size: 18px;
    -fx-pref-width: 250px;
    -fx-pref-height: 70px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-cursor: hand;
}

.MainMenuUI .button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
}

/* Estilos específicos para botões */
.MainMenuUI #btnNewSimulation {
    /* Estilos específicos para o botão New Simulation */
}

.MainMenuUI #btnLoadSimulation {
    /* Estilos específicos para o botão Load Simulation */
}

.MainMenuUI #btnSettings {
    /* Estilos específicos para o botão Settings */
}

.MainMenuUI #btnExit {
    /* Estilos específicos para o botão Exit */
}

