/* Estilos para CreateEcosystemUI */
.CreateEcosystemUI {
    -fx-background-image: url('/pt/isec/pa/javalife/ui/gui/resources/images/bg.jpeg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-padding: 20px;
}

.CreateEcosystemUI .title {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-padding-bottom: 20px;
}

.CreateEcosystemUI .label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.CreateEcosystemUI .text-field {
    -fx-pref-width: 200px;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-background-color: rgba(0,0, 0, 0.8);
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;  /* Define a cor do texto dentro das caixas de texto */
}

.CreateEcosystemUI .slider {
    -fx-pref-width: 200px;
}

.CreateEcosystemUI .create-button {
    -fx-font-size: 18px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
    -fx-cursor: hand;
}

.CreateEcosystemUI .create-button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
}
