.root {
}

.toolbar {
    -fx-background-color: #000000; /* Define o fundo preto para a toolbar */
}

.play-pause {
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.sidebar {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10;
    -fx-background-image: url('/pt/isec/pa/javalife/ui/gui/resources/images/bg.jpeg');
    -fx-background-size: cover;
}

.sidebar-title {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.sidebar-button {
    -fx-font-size: 14px;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-cursor: hand;
}

.sidebar-button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
}

.text-field {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 5;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.canvas-pane {
    -fx-background-color: #0D0D0D;
}

.info-label {
    -fx-text-fill: white;
}
